@page "/"
@rendermode InteractiveServer
@using RaftClassLib

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick='startSimulation'>start</button>
<button @onclick='setNetworkDelay'>slow down network</button>
<button @onclick="async () => await slowElectionTimer()">slow down Eleciton Timer</button>
@foreach (var node in nodes){
	<div>
		<ul>
			<li><label>ID: </label>@node.ID</li>
			<li><label>Term: </label>@node.Term</li>
			<li><label>TermVotes:</label>
				@foreach (var vote in node.TermVotes){
					<ul>
						<li><label>Term of Vote</label>@vote.Term</li>
						<li><label>Requester for Vote</label>@vote.RequesterId</li>
					</ul>
				}	
			</li>
			<li><label>State: </label>@node.State</li>
			<li><label>election timeout: </label>@node.ElectionTimer.Interval</li>
		</ul>
	</div>
}

@code {
	List<SimulationNode> nodes = [];
	bool isRunning = false;
	Timer? timer;
	async Task startSimulation(){
		var node1 = new ServerAaron(1);
		var node2 = new ServerAaron(2);
		var node3 = new ServerAaron(3);
		node1.State = ServerState.Leader;
		var simulation1 = new SimulationNode(node1);
		var simulaiton2 = new SimulationNode(node2);
		var simulation3 = new SimulationNode(node3);

		node1.OtherServers = [simulaiton2, simulation3];
		node2.OtherServers = [simulation1, simulation3];
		node3.OtherServers = [simulaiton2, simulation1];

		nodes = [simulation1, simulaiton2, simulation3];
		setNetworkDelay();
		foreach (var node in nodes)
		{
			await node.StartSim();
		}
		isRunning = true;
		timer = new Timer(_ =>
		{
			InvokeAsync(StateHasChanged);
		}, null, 0, 200);
	}
	void setNetworkDelay()
	{

	}
	async Task slowElectionTimer()
	{
		foreach (var node in nodes)
		{
			node.ElectionTimeoutMultiplier = 1 + node.ElectionTimeoutMultiplier;
		}
		await Task.CompletedTask;
	}
}