@page "/"
@rendermode InteractiveServer
@using RaftClassLib

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick='startSimulation'>start</button>
@foreach (var node in nodes){
	<div>
		<ul>
			<li><label>ID: </label>@node.ID</li>
			<li><label>Term: </label>@node.Term</li>
			<li><label>TermVotes:</label>
				@foreach (var vote in node.TermVotes){
					<ul>
						<li><label>Term of Vote</label>@vote.Term</li>
						<li><label>Requester for Vote</label>@vote.RequesterId</li>
					</ul>
				}	
			</li>
			<li><label>State: </label>@node.State</li>
		</ul>
	</div>
}

@code {
	List<SimulationNode> nodes = [];
	bool isRunning = false;
	Timer? timer;
	void startSimulation(){
		var node1 = new ServerAaron(1,3);
		var node2 = new ServerAaron(2,3);
		var node3 = new ServerAaron(3,3);

		var simulation1 = new SimulationNode(node1);
		var simulaiton2 = new SimulationNode(node2);
		var simulation3 = new SimulationNode(node3);

		//node1.OtherNodes = [simulaiton2, simulation3];
		//node2.OtherNodes = [simulaiton1, simulation3];
		//node3.OtherNodes = [simulaiton2, simulation1];

		nodes = [simulation1, simulaiton2, simulation3];

		isRunning = true;
		timer = new Timer(_ =>
		{
			InvokeAsync(StateHasChanged);
		}, null, 0, 200);
	}
}